<html>
    <header>
        <link rel="stylesheet" href="css/main.css" />
        <link rel="stylesheet" href="css/products.css" />
        <style>
            .colour_1 {
                background-color: rgb(<%= user_details.color_1_r %>, <%= user_details.color_1_g %>, <%= user_details.color_1_b %>);
            }
            .colour_2 {
                background-color: rgb(<%= user_details.color_2_r %>, <%= user_details.color_2_g %>, <%= user_details.color_2_b %>);
            }
        </style>
    </header>
    <body>
        <nav class="colour_1">
            <img src=<%= user_details.logo_url %>>
        </nav>
        <div id="navspacer"></div>

        <div id="mainContainer">
            <h2>Our products...</h2>
            <% for (let i = 0; i < user_products.length; i++){ %>
                <div class="flex_box height_100">
                    <div class="image_box_catalogue">
                        <% 
                        let arryOfObjects = JSON.parse(user_products[i].product_img_urls);
                        let firstImg = arryOfObjects[0];
                        let firstImgUrl = Object.values(firstImg)[0]
                        %>
                        <img src=<%= firstImgUrl %> alt=<%= firstImgUrl %>>
                    </div>
                    <div class="table_box_catalogue">
                        <table>
                            <tr class="catalogue_table_row">
                                <td class="catalogue_table_headings">Product Name:</td>
                                <td>
                                    <a href="/product?product_id=<%= user_products[i].product_id %>&catalogue_id=<%= catalogue_id %>">
                                        <%= user_products[i].product_name %>
                                    </a>
                                </td>
                            </tr>
                            <tr class="catalogue_table_row">
                                <td>Product Brand:</td>
                                <td><%= user_products[i].product_brand %></td>
                            </tr>
                            <tr class="catalogue_table_row">
                                <td>Product Code:</td>
                                <td><%= user_products[i].product_code %></td>
                            </tr>
                          </table>
                    </div>
                </div>
                <br>
            <% } %>
        </div>
        <div id="footerspacer"></div>
        <footer class="colour_1" >
            <h3>Contact us</h3>
            <hr>
            <p><%= user_details.company_name_long %></p>
            <p><%= user_details.phone_number %></p>
            <p><%= user_details.address %></p>
        </footer>
    </body>
</html>
