<html>
    <h1>Product Page</h1>
    <%= product_details.product_code %> <br>
    <%= product_details.product_name %> <br>
    <%= product_details.product_description_short %> <br>
    <%= product_details.product_description_long %> <br>
    <%= product_details.product_img_urls %> <br>
    <%= product_details.product_category %> <br>
    <%= product_details.product_brand %> <br>
    <%= product_details.product_specs %> <br>
    <div style="background-color:grey;">
        <a href="/">index</a>
        <a href="/user">user</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
</html>