<html>
    <h1>User Page</h1>
    <p>Logged in as: <%= username %></p>

    <form style="background-color:grey;" name="user_details" action="/user_details" method="POST">
        <label>User Details</label><br>
        <input type="text" id="company_name_short" name="company_name_short" placeholder="short company name"><br>
        <input type="text" id="company_name_long" name="company_name_long" placeholder="long company name"><br>
        <input type="text" id="phone_number" name="phone_number" placeholder="phone number"><br>
        <input type="text" id="address" name="address" placeholder="address"><br>
        <input type="submit" value="Update">
    </form>
    <form style="background-color:grey;" name="user_catalogue_theme" action="/user_details" method="POST">
        <label>User Catalogue Theme</label><br>
        <input type="text" id="color_1" name="color_1" placeholder="color 1"><br>
        <input type="text" id="color_2" name="color_2" placeholder="color 2"><br>
        <!-- We will need to send a img somehow, Look into 'multer' library, there youtube video on it "Uploading an Image | Creating a REST API with Node.js" -->
        <input type="text" id="logo_url" name="logo_url" placeholder="logo"><br>
        <input type="submit" value="Update">
    </form>
    <!-- This table will populate dynamically from the parsed JSON object -->
    <table style="background-color:grey;">
        <tr>
            <th>Product code</th>
            <th>Product name</th>
            <th>Remove</th>
        </tr>

        <% for (let i = 0; i < user_products.length; i++){ %>
        <tr>
            <td><%= user_products[i].product_code %></td>
            <td><%= user_products[i].product_name %></td>
            <!-- Here we will have buttons, and event listener in JS to add to the 'remove array' -->
            <td>Remove</td>
        </tr>
        <% } %>
    </table>
    <!-- This form i think will store the details in an array locally -->
    <form style="background-color:grey;" name="add_product" action="/add_product" method="POST">
        <label>User Products</label><br>
        <input type="text" name="product_code" placeholder="product_code" required><br>
        <input type="text" name="product_brand" placeholder="product_brand" required><br>
        <input type="submit" value="Add Product">
    </form>
    
    <!-- Here we will post with event listener in JS, we will send both the 'added' and 'removed' data -->
    <form style="background-color:grey;" name="update" action="/update" method="POST">
        <input type="submit" value="Update">
    </form>

    <form style="background-color:grey;" name="logout" action="/logout" method="POST">
        <input type="submit" value="Logout">
    </form>

    <!-- This a script to replace placeholders in the forms, NOTE element ids need to match parsed objects keys -->
    <script>
        let p = <%- JSON.stringify(user_details) %>;
        for (const key in p){
            var e = document.getElementById(key);
            if (e && p[key] != 'null' && p[key] != null) e.setAttribute('placeholder', p[key]);
        }
    </script>
    <div style="background-color:grey;">
        <a href="/">index</a>
        <a href="/user">user</a>
        <a href="/product">product</a>
        <a href="/catalogue">catalogue</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
</html>

