/* Variables */
:root {
    /* COLORS */
    --color-primary: #999;
    --color-primary-light: #D0D0D0;
    --color-primary-medium: #C0C0C0;
    --color-primary-dark: #777;
    --color-secondary: #f2f2f2;
  
    /* TYPOGRAPHY */
    --typography-body: sans-serif;
    --typography-size-normal: 100%;
    --typography-size-small: 80%;
}

* {
    padding: 0;
    margin: 0;
}

/* General styling */
body {
    font-family: var(--typography-body);
    font-size: var(--typography-size-normal);
}

footer{
    position: fixed;
    width:100%;
    bottom: 0;
    z-index: 5;
    background-color:var(--color-primary-dark);
    text-align: center;
    padding: 0.5em;
}

#footerspacer {
    height: 5em;
}

nav {
    position: fixed;
    width:100%;
    top: 0;
    z-index: 5;
    background-color:var(--color-primary-dark);
    text-align: center;
}

nav, #navspacer {
    height: 3em;
}

#mainContainer {
    max-width: 800px;
    margin: auto;
    padding:2em;
}

.flex_box {
    display:flex;
}

.flex_box_50_width {
    width:50%;
}

#tip_bar {
    position: fixed;
    width: 100%;
    bottom: 50;
    z-index: 6;
}
#tip_bar_container {
    width:250px;
    background-color: orange;
    font-size: var(--typography-size-small);
}

#help_button {
    width: 100%;
    background-color: red;
}